@import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    font-family: 'Secular One', sans-serif;
}

section {
    padding-top: 2rem;
}

.header {
    margin: 0;
}

.home {
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    text-align: center;
    color: #fff
}

.home-text span {
    color: #fff
        /*Daha sonra değiştirilebilir*/
}

.home-title {
    font-size: 3.5rem;
    font-weight: 1000;

}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
}

.tab-button {
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;

}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 1%;
    color: #fff;
}

.footer {
    display: flex;
    align-items: center;
}

.Buttons{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.stop-button {
    width: 120px;
    height: 50px;
    border: 2.5px solid #000000;
}

.start-button {
    width: 120px;
    height: 50px;
    margin-left: 7.5%;
    border: 2.5px solid #000000;
}

.progress-container {
    width: 50%;
    margin: 0 auto;

}

.progress-text {
    text-align: center;
}

.progress {
    height: 25px;
    font-size: 1rem;
}

.Tables {
    color: #fff;
}

.table-underline {
    color: #fff;
    border: #02132e;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1320px;
    height: 700px;
    padding: 2%;
    background-color: #02132e;
    border: 2.5px solid #000000;

}

.photage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding: 2%;
    margin-left: 2%;
    background-color: #02132e;
    border: 2.5px solid #000000;
}

.image {
    width: 600px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 2.5px solid #000000;
}

h3 {
    color: #fff;
}

h1 {
    text-align: center;
}

.temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.powerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.power-bar * {
    position: absolute;
}

.power-bar {
    font-size: 3rem;
    height: 75px;
    width: 300px;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 10px rgb(90 20 20));
    padding-left: 150px;
    padding-top: 25px;
}

.power-bar:before,
.power-bar:after {
    padding: 10px 0;
    text-indent: 120px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    content: attr(data-content);
    height: 100%;
}

.power-bar:before {
    background-color: #fff;
    color: rgb(90 20 20);
    width: 100%;
    border-radius: 10px;
}

.power-bar:after {
    background-color: rgb(90 20 20);
    color: #fff;
    width: 55%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.GaugeMeter {
    Position: Relative;
    Text-Align: Center;
    Overflow: Hidden;
    Cursor: Default;
}

.GaugeMeter SPAN,
.GaugeMeter B {
    Margin: 0 23%;
    Width: 54%;
    Position: Absolute;
    Text-align: Center;
    Display: Inline-Block;
    Color: #fff;
    Font-Weight: 100;
    Font-Family: "Open Sans", Arial;
    Overflow: Hidden;
    White-Space: NoWrap;
    Text-Overflow: Ellipsis;
}

.GaugeMeter[data-style="Semi"] B {
    Margin: 0 10%;
    Width: 80%;
}

.GaugeMeter S,
.GaugeMeter U {
    Text-Decoration: None;
    Font-Size: 0.66em;
}

.GaugeMeter B {
    Color: #fff;
    Font-Weight: 300;
    Font-Size: 1.25em;
}

@media(max-width:1440px) {
    .Content {
        width: 900px;
    }

    .image {
        width: 400px;
    }
}

@media(max-width:1024px) {
    .Content {
        width: 700px;
    }

    .image {
        width: 300px;
    }
}