@import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #161616;
    font-family: 'Secular One', sans-serif;
}

section {
    padding-top: 2rem;
}

.header {
    margin: 0;
}

.home {
    display: grid;
    justify-content: center;
    align-items: center;

}

.home-text {
    text-align: center;
    color: #fff;
}

.home-text span {
    color: #fff;
    /*Daha sonra değiştirilebilir*/
}

.home-title {
    font-size: 2.25rem;
    font-weight: 1000;


}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    margin-top: 1%;
}

.tab-button {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;

}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 1%;
    color: #fff;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
}

.Buttons {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.stop-button {
    width: 120px;
    height: 50px;
    border: 2.5px solid #000000;
}

.start-button {
    width: 120px;
    height: 50px;
    margin-left: 7.5%;
    border: 2.5px solid #000000;
}

.progress-container {
    width: 50%;
    margin: 0 auto;

}

.progress-text {
    text-align: center;
}

.progress {
    height: 25px;
    font-size: 1rem;
}

.Tables {
    color: #fff;
}

.table-underline {
    color: #fff;
    border: #02132e;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1250px;
    height: 700px;
    padding: 2%;
    background-color: #02132e;
    border: 2.5px solid #000000;

}

.photage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding: 2%;
    margin-left: 2%;
    background-color: #02132e;
    border: 2.5px solid #000000;
}

.image {
    width: 500px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 2.5px solid #000000;
}

h3 {
    color: #fff;
}

h1 {
    text-align: center;
}

.temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

}

.powerbar {
    width: 300px;
    margin-top: 12.5%;
}

.GaugeMeter {
    Position: Relative;
    Text-Align: Center;
    Overflow: Hidden;
    Cursor: Default;
}

.GaugeMeter SPAN,
.GaugeMeter B {
    Margin: 0 23%;
    Width: 54%;
    Position: Absolute;
    Text-align: Center;
    Display: Inline-Block;
    Color: #fff;
    Font-Weight: 100;
    Font-Family: "Open Sans", Arial;
    Overflow: Hidden;
    White-Space: NoWrap;
    Text-Overflow: Ellipsis;
}

.GaugeMeter[data-style="Semi"] B {
    Margin: 0 10%;
    Width: 80%;
}

.GaugeMeter S,
.GaugeMeter U {
    Text-Decoration: None;
    Font-Size: 0.66em;
}

.GaugeMeter B {
    Color: #fff;
    Font-Weight: 300;
    Font-Size: 1.25em;
}